USE [master]
GO
/****** Nesnesi: Database [Kutuphane] Betik Tarihi: 9.05.2026 22:25:10 ******/
CREATE DATABASE [Kutuphane]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Kutuphane', FILENAME = N'C:\Users\ahmet2\Desktop\Yeni klasör\MSSQL16.SQLEXPRESS\MSSQL\DATA\Kutuphane.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Kutuphane_log', FILENAME = N'C:\Users\ahmet2\Desktop\Yeni klasör\MSSQL16.SQLEXPRESS\MSSQL\DATA\Kutuphane_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Kutuphane].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Kutuphane]
GO
/****** Nesnesi: Table [dbo].[Emanetler] Betik Tarihi: 9.05.2026 22:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emanetler](
	[EmanetID] [int] IDENTITY(1,1) NOT NULL,
	[KitapID] [int] NULL,
	[UyeID] [int] NULL,
	[VerilisTarihi] [datetime] NULL,
	[TeslimTarihi] [datetime] NULL,
	[IslemBitti] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmanetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Kategoriler] Betik Tarihi: 9.05.2026 22:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAd] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Kitaplar] Betik Tarihi: 9.05.2026 22:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kitaplar](
	[KitapID] [int] IDENTITY(10000,1) NOT NULL,
	[KitapAd] [nvarchar](100) NOT NULL,
	[Barkod] [nvarchar](20) NOT NULL,
	[ISBN] [nvarchar](13) NULL,
	[SayfaSayisi] [int] NULL,
	[YayinYili] [int] NULL,
	[KategoriID] [int] NULL,
	[YazarID] [int] NULL,
	[YayineviID] [int] NULL,
	[Durum] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[KitapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[OduncIslemleri] Betik Tarihi: 9.05.2026 22:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OduncIslemleri](
	[IslemID] [int] IDENTITY(1,1) NOT NULL,
	[KitapID] [int] NULL,
	[UyeID] [int] NULL,
	[AlisTarihi] [datetime] NULL,
	[TeslimEdilmesiGerekenTarihi] [datetime] NULL,
	[IadeTarihi] [datetime] NULL,
	[Aciklama] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[IslemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Uyeler] Betik Tarihi: 9.05.2026 22:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uyeler](
	[UyeID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[Eposta] [nvarchar](100) NULL,
	[Telefon] [nvarchar](15) NULL,
	[KayitTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UyeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Yayinevleri] Betik Tarihi: 9.05.2026 22:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yayinevleri](
	[YayineviID] [int] IDENTITY(1000,1) NOT NULL,
	[Ad] [nvarchar](100) NOT NULL,
	[Adres] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[YayineviID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Yazarlar] Betik Tarihi: 9.05.2026 22:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yazarlar](
	[YazarID] [int] IDENTITY(100,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[YazarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Emanetler] ON 

INSERT [dbo].[Emanetler] ([EmanetID], [KitapID], [UyeID], [VerilisTarihi], [TeslimTarihi], [IslemBitti]) VALUES (4, 10065, 5, CAST(N'2026-04-20T00:00:00.000' AS DateTime), NULL, 0)
INSERT [dbo].[Emanetler] ([EmanetID], [KitapID], [UyeID], [VerilisTarihi], [TeslimTarihi], [IslemBitti]) VALUES (5, 10047, 10, CAST(N'2026-04-22T00:00:00.000' AS DateTime), NULL, 0)
INSERT [dbo].[Emanetler] ([EmanetID], [KitapID], [UyeID], [VerilisTarihi], [TeslimTarihi], [IslemBitti]) VALUES (6, 10054, 12, CAST(N'2026-04-25T00:00:00.000' AS DateTime), NULL, 0)
SET IDENTITY_INSERT [dbo].[Emanetler] OFF
GO
SET IDENTITY_INSERT [dbo].[Kategoriler] ON 

INSERT [dbo].[Kategoriler] ([KategoriID], [KategoriAd]) VALUES (1, N'Dünya Klasikleri')
INSERT [dbo].[Kategoriler] ([KategoriID], [KategoriAd]) VALUES (2, N'Bilim Kurgu')
INSERT [dbo].[Kategoriler] ([KategoriID], [KategoriAd]) VALUES (3, N'Kişisel Gelişim & Psikoloji')
SET IDENTITY_INSERT [dbo].[Kategoriler] OFF
GO
SET IDENTITY_INSERT [dbo].[Kitaplar] ON 

INSERT [dbo].[Kitaplar] ([KitapID], [KitapAd], [Barkod], [ISBN], [SayfaSayisi], [YayinYili], [KategoriID], [YazarID], [YayineviID], [Durum]) VALUES (10045, N'Suç ve Ceza', N'BRK00001', NULL, 687, 1866, 1, 100, NULL, 0)
INSERT [dbo].[Kitaplar] ([KitapID], [KitapAd], [Barkod], [ISBN], [SayfaSayisi], [YayinYili], [KategoriID], [YazarID], [YayineviID], [Durum]) VALUES (10046, N'Sefiller', N'BRK00002', NULL, 1724, 1862, 1, 101, NULL, 0)
INSERT [dbo].[Kitaplar] ([KitapID], [KitapAd], [Barkod], [ISBN], [SayfaSayisi], [YayinYili], [KategoriID], [YazarID], [YayineviID], [Durum]) VALUES (10047, N'Savaş ve Barış', N'BRK00003', NULL, 1225, 1869, 1, 102, NULL, 0)
GO
SET IDENTITY_INSERT [dbo].[Kitaplar] OFF
GO
SET IDENTITY_INSERT [dbo].[Uyeler] ON 

INSERT [dbo].[Uyeler] ([UyeID], [Ad], [Soyad], [Eposta], [Telefon], [KayitTarihi]) VALUES (1, N'Ahmet', N'Yılmaz', N'ahmet.yilmaz@mail.com', N'(532) 111-2233', CAST(N'2026-01-10T00:00:00.000' AS DateTime))
INSERT [dbo].[Uyeler] ([UyeID], [Ad], [Soyad], [Eposta], [Telefon], [KayitTarihi]) VALUES (2, N'Ayşe', N'Kaya', N'ayse.kaya@mail.com', N'(533) 222-3344', CAST(N'2026-01-12T00:00:00.000' AS DateTime))
INSERT [dbo].[Uyeler] ([UyeID], [Ad], [Soyad], [Eposta], [Telefon], [KayitTarihi]) VALUES (3, N'Mehmet', N'Demir', N'mehmet.demir@mail.com', N'(542) 333-4455', CAST(N'2026-01-15T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Uyeler] OFF
GO
SET IDENTITY_INSERT [dbo].[Yazarlar] ON 

INSERT [dbo].[Yazarlar] ([YazarID], [Ad], [Soyad]) VALUES (100, N'Fyodor', N'Dostoyevski')
INSERT [dbo].[Yazarlar] ([YazarID], [Ad], [Soyad]) VALUES (101, N'Victor', N'Hugo')
INSERT [dbo].[Yazarlar] ([YazarID], [Ad], [Soyad]) VALUES (102, N'Lev', N'Tolstoy')
GO
SET IDENTITY_INSERT [dbo].[Yazarlar] OFF
GO
SET ANSI_PADDING ON
GO
/****** Nesnesi: Index [UQ__Kitaplar__CBC7D8CD062A3240] Betik Tarihi: 9.05.2026 22:25:10 ******/
ALTER TABLE [dbo].[Kitaplar] ADD UNIQUE NONCLUSTERED 
(
	[Barkod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Nesnesi: Index [UQ__Uyeler__03ABA391360359A3] Betik Tarihi: 9.05.2026 22:25:10 ******/
ALTER TABLE [dbo].[Uyeler] ADD UNIQUE NONCLUSTERED 
(
	[Eposta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Emanetler] ADD  DEFAULT (getdate()) FOR [VerilisTarihi]
GO
ALTER TABLE [dbo].[Emanetler] ADD  DEFAULT ((0)) FOR [IslemBitti]
GO
ALTER TABLE [dbo].[Kitaplar] ADD  DEFAULT ((1)) FOR [Durum]
GO
ALTER TABLE [dbo].[OduncIslemleri] ADD  DEFAULT (getdate()) FOR [AlisTarihi]
GO
ALTER TABLE [dbo].[Uyeler] ADD  DEFAULT (getdate()) FOR [KayitTarihi]
GO
ALTER TABLE [dbo].[Emanetler]  WITH CHECK ADD  CONSTRAINT [FK_Kitap] FOREIGN KEY([KitapID])
REFERENCES [dbo].[Kitaplar] ([KitapID])
GO
ALTER TABLE [dbo].[Emanetler] CHECK CONSTRAINT [FK_Kitap]
GO
ALTER TABLE [dbo].[Emanetler]  WITH CHECK ADD  CONSTRAINT [FK_Uye] FOREIGN KEY([UyeID])
REFERENCES [dbo].[Uyeler] ([UyeID])
GO
ALTER TABLE [dbo].[Emanetler] CHECK CONSTRAINT [FK_Uye]
GO
ALTER TABLE [dbo].[Kitaplar]  WITH CHECK ADD FOREIGN KEY([KategoriID])
REFERENCES [dbo].[Kategoriler] ([KategoriID])
GO
ALTER TABLE [dbo].[Kitaplar]  WITH CHECK ADD FOREIGN KEY([YayineviID])
REFERENCES [dbo].[Yayinevleri] ([YayineviID])
GO
ALTER TABLE [dbo].[Kitaplar]  WITH CHECK ADD FOREIGN KEY([YazarID])
REFERENCES [dbo].[Yazarlar] ([YazarID])
GO
ALTER TABLE [dbo].[OduncIslemleri]  WITH CHECK ADD FOREIGN KEY([KitapID])
REFERENCES [dbo].[Kitaplar] ([KitapID])
GO
ALTER TABLE [dbo].[OduncIslemleri]  WITH CHECK ADD FOREIGN KEY([UyeID])
REFERENCES [dbo].[Uyeler] ([UyeID])
GO
USE [master]
GO
